APP_NAME=Colibri
APP_DEBUG=true
APP_TIMEZONE=America/Montreal
APP_HTTPS=false

LOG_CHANNEL=daily
LOG_LEVEL=debug

I18N_LOCALE=en
# I18N_FALLBACK=en

DB_DRIVER=sqlite
DB_PATH=storage/database.sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=colibri
# DB_USER=root
# DB_PASS=

AUTH_DRIVER=db
CACHE_DRIVER=file
# IMAGE_DRIVER=gd

MAIL_DRIVER=log
# MAIL_HOST=smtp.example.com
# MAIL_PORT=587
# MAIL_USER=
# MAIL_PASS=
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS=noreply@example.com
# MAIL_FROM_NAME=Colibri
